.gradle/
build/
**/build/
out/
.idea/
*.iml
.vscode/
/run/
/run-manual/
logs/
world/
crash-reports/
debug/
*.log
*.hprof
eula.txt
server.properties
!platform-forge-1.19.2/manual/server.properties
usercache.json
usernamecache.json
ops.json
whitelist.json
banned-players.json
banned-ips.json
user_jvm_args.txt
libraries/
versions/
*.jar
!gradle/wrapper/gradle-wrapper.jar
